#main-div.about {
  min-width: fit-content;
  min-height: 100dvh;
  background: center center / 100% 100% no-repeat url('../../img/welcome-bg.jpg');
}
.img-container.about {
  min-width: var(--vw-l);
}
img.about {
  max-width: 100%;
  height: auto;
  border: 5px solid black;
}
