body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: var(--text-lg);
  font-weight: 700;
  font-family: "Comic Sans MS";
}
h2 {
  font-size: var(--text-m);
  font-family: Garamond;
}
h3 {
}
p {
}
button {
}
a {
  color: var(--blue-1);
}
