body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--gray-4);
  margin: 0;
  padding: 0;
}
h1 {
  font-size: var(--text-lg);
  font-weight: 700;
  font-family: 'Comic Sans MS';
  color: black;
}
h2 {
  font-size: var(--text-m);
  font-family: Garamond;
}
h3 {
}
p {
}
button {
  background-color: var(--blue-1);
  border-radius: 10%;
}
a {
  color: var(--blue-1);
}
hr.vr-s {
  height: var(--text-sm);
}
hr.vr {
  height: var(--text-reg);
}
hr.vr-m {
  height: var(--text-reg);
}
hr.vr-lg {
  height: var(--text-lg);
}
hr.vr-xl {
  height: var(--text-xl);
}
