/*only border, add container size to root*/
button.book-viewer:hover {
  color: var(--gray-1);
}
/*change display*/
text.book-viewer {
  display: inline-block;
}
@media (width < 768px) {
  .main {
    margin-top: 1em;
  }
  .book-viewer.faded-edge {
    width: 40vw;
  }
  img.book-viewer {
    min-width: 40vw;
  }
}
@media (width < 540px) {
  .book-viewer.faded-edge {
    width: 45vw;
  }
  img.book-viewer {
    min-width: 45vw;
  }
}
