/*add container size to root*/
.faded-edge.book-viewer {
  max-width: 30vw;
}
/*only border, add container size to root*/
img.book-viewer {
  max-width: 30vw;
  border: 1px solid black;
}
button.book-viewer {
}
button.book-viewer:hover {
  color: var(--gray-1);
}
/*this could be a flip-x*/
.left-arrow {
  transform: scaleX(-1);
}
/*change display*/
text.book-viewer {
  display: inline-block;
}
@media (width < 540px) {
  .faded-edge.book-viewer {
    max-width: 40vw;
  }
  img.book-viewer {
    max-width: 40vw;
  }
}
@media (width < 768px) {
  .main {
    margin-top: 1em;
  }
  .faded-edge.book-viewer {
    max-width: 35vw;
  }
  img.book-viewer {
    max-width: 35vw;
  }
}
