@media (width < 768px) {
  #navbar {
    position: fixed;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5em;
    top: 30vh;
    padding-block: var(--half-text);
  }
  .collapse-stack > hr.navbar {
    display: none;
  }
}
@media (width > 768px) {
  #navbar {
    visibility: visible;
  }
}
