#main-div {
  min-width: fit-content;
  min-height: 100dvh;
  background: center center / 100% 100% no-repeat url('../../img/welcome-bg.jpg');
}
/*local overrides*/
div.welcome {
  color: var(--gray-4);
}
/*media queries - change background fit over certain size*/
